                             # Database Setting
DATABASE_NAME=instawork_db
DATABASE_USER=instawork
DATABASE_PASSWORD=instawork1!
DATABASE_HOST=localhost
DATABASE_PORT=


# General settings
DJANGO_READ_DOT_ENV_FILE=True
DJANGO_DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.base
DJANGO_SECRET_KEY=4wac(qegiga-^ss3l$i8n%4h8nk1=6%i684oz)%v59kocipun9
DJANGO_ADMIN_URL=admin/


TIME_ZONE=Asia/Kolkata
